body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: linear-gradient(to right, #007bff, #0194f7, #57c2ff); /* Светлый синий градиент */
    color: #fff;
    position: relative;
    overflow-y: auto; 
    padding-top: 50px; 
}

.hero {
    background: linear-gradient(to right, #007bff, #0194f7, #57c2ff);
    color: #fff;
    padding: 20px;
    text-align: center; /* Выравнивание по центру */
}

.logo {
    width: 100px; /* Размер логотипа */
    margin-bottom: 20px; /* Отступ от логотипа */
}

.balance-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.balance-amount {
    font-size: 2em; 
    font-weight: bold;
    color: #fff;
}

.farm-button {
    color: #2196F3;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1a202c;
    padding: 5px 0; /* Уменьшенный отступ */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 35px;
}

.footer-button {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px; /* Уменьшенные отступы для кнопок */
    border-radius: 5px;
    text-align: center;
    border: none;
    font-size: 12px; /* Уменьшенный размер шрифта */
    font-weight: bold;
    cursor: pointer;
}

.footer-buttons {
    display: flex; 
    width: 100%;
    justify-content: space-around; /* Равномерно распределяем кнопки */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

main {
    padding: 20px 0;
}

.farm-button:hover {
    background-color: #55b2ff;
    color: #fff;
}
